
body{
    height:100vh;
    width:100%;
    margin:0;
    display:flex;
    flex-direction:column;
    background-color:whitesmoke;
}

.container{
    height:100%;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
}